<h1>Segal's Pizzeria</h1>
<h2>A taste from heaven</h2>

<div class="blurb">
  We ofer a great delivery service! just order here and enjoy the amazing taste of the best pizza in the world! made from a special secret recipe brought to you from master Segal who specialized on all kind of pizza's in Napoli, Italy. Enjoy the best flavors in the world.
  Important! You can have up to 5 orders for a user!!
</div>
<div class="ctaWrapper hideBtn">
  <a class="cta green" href="account/create">Sign up</a>
  <a class="cta blue" href="session/create">Sign in</a>
</div>
